.menuBurguer{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  transition: 1s;
}
.block1{
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 15px;
  margin-left: -20px;
  transition: 1s;
}
.block2{
  width: 60px;
  height: 5px;
  background: #fff;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 1s;

}
.block3{
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 15px;
  margin-left: 20px;
  transition: 1s;
}
.contentMenu{
  background-color: #fff;
  border-radius: 10px;
  height: 0px;
  width: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: absolute;
  margin: -60px 0px 0px 90px;
  z-index: 5;
  overflow: hidden;
  transition: 3s;
}
.contentMenu h3{
  text-align: center;
  transition: .2s;
  font-weight: 500;
  padding: 3% 0 0 0;
  transition: .8s;
}
@keyframes menuAnimationF {
  0%{
    width: 0px;
    height: 40px;
    margin: -60px 0px 0px 50px;
  }
  50%{
    width: 300px;
    height: 40px;
    margin: -60px 0px 0px 90px;
  }
  100%{
    width: 300px;
    height: 240px;
    margin: -60px 0px 0px 90px;
  }
}
@keyframes menuAnimationI {
  0%{
    width: 300px;
    height: 240px;
    margin: -60px 0px 0px 90px;
  }
  50%{
    width: 300px;
    height: 40px;
    margin: -60px 0px 0px 90px;
  }
  100%{
    width: 0px;
    height: 40px;
    margin: -60px 0px 0px 50px;
    opacity: 0.5;
  }
}

.menuItens{
  width: 100%;
  padding: 10px;
}
.itensLista{
  font-size: 1.1em;
  color: purple;
  transition: .5s;
  border-bottom: 1px solid #d1c2db;
  text-align: center;
  border-radius: 4px;
}
.itensLista:hover{
  background-color: #e7e7e7;
}
