@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face{
    font-family: avengers;
    src: url(avengeance.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
     --cor-botao: linear-gradient(90deg, #702FA3, #5317A6);
     --cor-banner: linear-gradient(135deg, #04050D, #1D0440, #090426);
     --cor-produtos: linear-gradient(135deg, #5317A6, #2A094E 70%);
     --cor-destaques: linear-gradient(135deg, #9143CB, #5A27B0);
}
body{
    -moz-background-image: var(--cor-banner);
     -ms-background-image: var(--cor-banner);
      -o-background-image: var(--cor-banner);
      background-image: var(--cor-banner);
}
.header{
    width: 100%;
    display: flex;
    -moz-display: flex;
     -ms-display: flex;
      -o-display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
.header h1 a{
    color: #fff;
    text-shadow: 5px 5px 3px #ffffff61;
    text-decoration: none;
    font-size: 2.2em;
    font-family: avengers, poppins;
    letter-spacing: 3px;
    transition: 0.25s;
}
.header h1 a:hover{
    letter-spacing: 6px;
}
.header nav ul{
    display: flex;

}
.header nav ul li{
    list-style: none;
    position: relative;
    margin-left: 35px;
}
.header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
    font-weight: 300;
}
.header nav ul li a::after{
  content: '';
  width: 0px;
  height: 3px;
  background-color: #8c40c7;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: .5s;
}
.header nav ul li a:hover:after{
  width: 100%;

}
.header .img-rs{
    display: flex;
}
.header .img-rs .redes-sociais{
    height: 30px;
    margin-left: 24px;
}
.banner-apresentacao{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
}
.banner-apresentacao .txt-banner{
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 4%;
    width: 50%;
}
.banner-apresentacao .txt-banner span{
    color: #fff;
    font-size: 3.8em;
    font-weight: 600;

}
.banner-apresentacao .txt-banner p{
    font-weight: 300;
    color: #fff;
    font-size: 1.1em;
    padding-right: 17%;
    padding-top: 3%;
}
.banner-apresentacao .txt-banner a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 3% 9%;
    border-radius: 60px;
    font-size: 1.5em;
    background-image: var(--cor-botao);
    margin-top: 5%;
    margin-left: 5%;
    transition: 0.25s;
}
.banner-apresentacao .txt-banner a:hover{
    letter-spacing: 2px;
}
.banner-apresentacao .img-banner{
    display: flex;
    width: 50%;
    align-items: flex-end;
}
.banner-apresentacao .img-banner img{
    height: 575px;
}

.containerProdutos, .containerPromocoes{
    background-image: var(--cor-produtos);
    width: 100%;
    padding: 3% 6%;
    overflow: hidden;
}
.containerPromocoes{
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.containerPromocoes h2{
  text-align: center;
  font-size: 2.4em;
  color: #fff;
  z-index: 2;
}
.controle{
  height: 95%;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  transform: rotate(-15deg);
  animation: 1.5s linear infinite alternate control;
}
@keyframes control{
  0%{
    bottom: 0;
  }
  100%{
    bottom: 25px;
  }
}
.containerProdutos .cabecalhoProdutos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoProdutos .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.4em;
}
.cabecalhoProdutos .inputs .inputPesquisa{
    background-color: rgba(227, 227, 227, 0.2);
    border: none;
    padding: 8% 10%;
    border-radius: 3em;
    outline: none;
    color: #fff;
    grid-column-start: 2;
}
.cabecalhoProdutos .inputs .inputPesquisa::placeholder{
  color: rgba(255, 255, 255, 0.53);
  font-size: 1.2em;
  font-weight: 300;
}
.cabecalhoProdutos .inputs .botaoPesquisa{
    border: none;
    border-radius: 3em;
    background-image: var(--cor-botao);
    color: #fff;
    font-size: 1.4em;
    grid-column-start: 3;
    width: 8em;
}
.dropdown{
  position: relative;
}

.produtos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 3% 5%;
  grid-row-gap: 4%;
  grid-column-gap: 2%;
}
.card-produtos{
  height: 420px;
  overflow: hidden;
  width: 80%;
  border-radius: 30px;
  background-color: #15074a;
  padding-bottom: 3%;
  z-index: 2;
}
 .img-produto{
  height: 50%;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 4%;

}
.card-text{
  padding: 3%;
}
.heading{
  font-size: 1.6em;
  margin-bottom: 4px;
  color: #b8b8b8;
}
.para{
  font-size: .8em;
  color: #b8b8b8;
}
.price{
  color: #b8b8b8;
  font-size: 1.2em;
}
.loading{
  position: relative;
  background-color: #b8b8b8;
  overflow: hidden;
}
@keyframes loading{
  100%{
    transform: translateX(100%);
  }
}
.loading::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: loading 1s infinite;
}

.heading.loading{
  margin-bottom: 4%;
  min-height: 2rem;
  border-radius: 4px;
}
.para.loading{
  margin-bottom: 5%;
  min-height: 3.5rem;
  border-radius: 4px;
}
.price{
  font-weight: 500;
}
.price.loading{
  align-items: center;
  min-height: 2.1rem;
  padding: 1%;
  justify-content: center;
  display: inline-flex;
  min-width: 5.3rem;
  margin: auto;
  border-radius: 4px;
}
.produtos .card-produtos .price-about{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
}
.produtos .card-produtos .price-about input{
  background-image: var(--cor-botao);
  padding: 3% 6%;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  margin-right: auto;
}
.empresaContainer{
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 6% 5% 0 5%;
  overflow: hidden;
}
.empresaContainer .imgEmpresa{
  width: 50%;
  display: flex;
}
.empresaContainer .imgEmpresa img{
  width: 95%;
  object-position: 0px 10px;
}
.empresaContainer .sobreEmpresa{
  width: 50%;
}
.empresaContainer .sobreEmpresa h2{
  font-size: 3em;
  margin: 5% 0;
  text-align: center;
  color: #5317A6;
}
.empresaContainer .sobreEmpresa p{
  padding: 0 5%;
  font-size: 1.25em;
  margin-bottom: 5%;
  color: #2A094E;
}
.reveal{
  position: relative;
  left:200px;
  transition: all 2s ease;
  opacity: 0;
}
.reveal.active{
    opacity: 1;
    left: 0px;
}
.revealLeft{
  position: relative;
  right:200px;
  transition: all 2s ease;
  opacity: 0;
}
.revealLeft.active{
    opacity: 1;
    right: 0px;
}
.destaquesLoja{
  padding: 3% 6%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--cor-destaques);
}
.destaquesLoja h2{
  color: #fff;
  font-size: 3em;
}
footer{

}

